
<div class="col col_3"><!-- right part -->
  <!-- Recent Visitors -->
  <div class="visitors">
    <span>最近来访:</span>
    <ul>
      <li>马云</li>
      <li>李开复</li>
      <li>断保研</li>
      <li>欺实马</li>
    </ul>
  </div>

  <!-- All the friends -->
  <div class="friends">
    <span>所有好友:</span>
    <ul>
      <li>比尔·盖茨</li>
      <li>巴菲特</li>
      <li>段包烟</li>
    </ul>
  </div>
</div><!-- end of right -->

