<%= render 'users/left_menu' %>

<!--Shutcut for some ordinary operation -->
<%= render 'users/home_middle' %>

<!-- things on the right side -->
<%= render 'users/right_menu' %>

<div class="clear"></div>
