<div class="col col_5">
  <%= link_to logo,root_path %>
</div><!-- end of logo -->

<div class="col col_11">
  <%= render 'layouts/nav' %>
  <form action="#" style="margin: 12px 10px 5px 15px; float:left">
    <input id="search" type="text" value='Search Friends' />
  </form>
</div>

<div class="clear"></div><!--clear-->
