<li class="last">
<%= image_tag 'corner_left.png', :class => 'corner_left' %>
<%= image_tag 'dot.gif', :class => 'middle' %>
<%= image_tag 'corner_right.png', :class => 'corner_right' %>
</li>

